.footer {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 22px;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 2fr;
    }
}

.horizontal-line {
    background-color: $gray-dark;
    height: 1px;
    width: 100vw;
    margin-left: -22px;

    @media (min-width: 1024px) {
        display: none;
    }
}

.footer__heading {
    text-transform: uppercase;
    color: $white;

    &--large {
        font-size: 30px;
        margin-bottom: .25rem;
    }

    &--small {
        font-size: 17px;
        font-weight: 300;
    }
}  

.footer__upper-part {
    padding: 22px 0;
    margin-bottom: 22px;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-rows: 1fr 2fr;
        gap: 5rem;
    }
}

.footer__text {
    color: $white;
    font-size: 11px;
    width: 50%;
}
            
.contact__group {
    margin-top: 1.5rem;
}

.contact__text {
    color: $gray-dark;
    text-transform: uppercase;
    font-size: 13px;
}

.footer__lower-part {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr;
        gap: 5rem;
    }
}

.newsletter {
    padding: 22px 0;
}


.newsletter__text {
    font-size: 12px;
    color: $white;
    margin: 1rem 0;
}

.newsletter__clause {
    color: $gray-dark;
    margin-top: 1rem;
    font-size: 12px;
}
    
.newsletter__policy-link {
    text-decoration: underline;
}

.email {
    display: block;
    border: 1px solid $gray-dark;
    padding: .75rem 1.5rem;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 22px);
    height: 40px;

}

.email__input {
    display: block;
    background-color: transparent;
    border: 0;
}

.email__btn {
    display: block;
    color: $white;
    background-color: transparent;
    border: 0;
    white-space: nowrap;
}

.social-media {
    padding: 22px 0;
}

.social-media__inner {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    list-style: none;

    @media (min-width: 1024px) {
        margin-top: 3rem;
    }
}

.social-media__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid $gray-dark;
    margin-right: 1rem;
}

.info-menu {
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.info-menu__category {
    padding: 22px 0;   

    &--open {
        .option-list {
            display: block;
        }
    }
}

.heading-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 22px);
    
    .accordeon-handler {
        color: $white;
        background-color: transparent;
        font-size: 20px;

        @media (min-width: 1024px) {
            display: none;
        }
    }
}
    
.info-menu__list {
    display: none;
    list-style: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.info-menu__item {
    font-size: 16px;
    color: $gray-dark;
    margin-top: 1.25rem;
    cursor: pointer;

    &:hover {
        color: $orange;
    }
}