.section-product {
    background-color: $white;
    padding: 100px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    text-transform: uppercase;
    color: $gray-text;
    font-size: 74px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1em;
    padding: 0 22px;

    @media (min-width: 1024px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 240px;
    }
}

.container-reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1024px) {
        flex-direction: column-reverse;
    }
}

.product-image {
    width: 100%;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 480px) {
        content:url('../images/EN-29-A-small.webp');
    }

    @media (min-width: 481px) {
        content:url('../images/EN-29-A-large.webp');
    }
}

.product-info {
    text-align: center;
}

.info-heading {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
}

.info-table {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.table__item {
    width: 100%;

    &:nth-child(2) {
        border-left: 1px solid $gray-text;
        border-right: 1px solid $gray-text;
    }
}

.item-value {
    display: block;
    font-size: 17px;
    font-size: 900;
    
    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

.item-name {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: $gray-text;
}


.product-btn {
    align-self: center;
}
