.product {
    background-color: $white;
    padding: 100px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__name {
    text-transform: uppercase;
    color: $gray-text;
    text-align: center;
    word-wrap: break-word;
    line-height: 1em;
    padding: 0 22px;
    font-size: 62px;
    
    @media (min-width: 596px) {
        font-size: 74px;
    }

    @media (min-width: 596px) {
        br {
            display: none;
        }
    }

    @media (min-width: 1024px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 135px;
    }
    
    @media (min-width: 1440px) {
        font-size: 190px;
    }

    @media (min-width: 1770px) {
        font-size: 240px;
    }
}

.product__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1024px) {
        flex-direction: column-reverse;
    }
}

.product__image {
    width: 100%;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 480px) {
        content:url('../images/EN-29-A-small.webp');
    }

    @media (min-width: 481px) {
        content:url('../images/EN-29-A-large.webp');
    }
}

.product__info {
    text-align: center;
}

.product__heading {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
}

.info-table {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.info-table__cell {
    width: 100%;

    &:nth-child(2) {
        border-left: 1px solid $gray-text;
        border-right: 1px solid $gray-text;
    }
}

.info-table__value {
    display: block;
    font-size: 17px;
    font-size: 900;
    
    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

.info-table__name {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: $gray-text;
}


.product__btn {
    align-self: center;
}
