.section {
    width: 100%;
    min-height: 100vh;

    .section-layout {
        padding: 22px;
        width: 100%;

        @media (min-width: 1024px) {
            padding: 5vw;
            width: auto;
        }
    }
}

.cta-btn {
    margin-top: 1.5rem;
    display: block;
    font-size: 14px;
    line-height: 15px;
    background: $black;
    padding: 1em 1.5em;
    text-align: left;
    font-weight: 300;
    color: $white;
    text-transform: uppercase;

}

.space-text {
    margin-left: 10px;
}